.text-container p {
  flex: 1 1 300px;
  margin: 0;
  font-size: var(--schriftgröße-mittel);
  line-height: 1.5;
}

.container-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/*==========================
Hero
========================== */
#start{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* voller Viewport */
  padding: 0;}

#hero-title{
  text-align: center;
  padding: 40px 0 150px 0;
  font-size: 4em;
}

.cursor {
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: difference;
  pointer-events: none;
  width: 120px;
  height: 120px;
  opacity: 0;
  transition: width 0.2s ease, height 0.2s ease, opacity 0.2s ease;
}

.text-container {
  display: flex;
  flex-wrap: wrap;    
}

.text-container p {
  background-color: var(--hauptfarbe03); /* deine gewünschte Box-Farbe */
  color: #d4f6d5;        
  padding: 20px;                            /* Abstand innen */
  width: 250px;                             /* feste Breite */
  height: 250px;                            /* feste Höhe für quadratisch */
  display: flex;
  align-items: center;
  text-align: center;                       /* Mehrzeiliger Text zentriert */
  box-sizing: border-box;
  overflow: hidden;                         /* Text nicht aus der Box raus */
}



/*==========================
Projekte
========================== */
.projects {
  position: relative;
  background: linear-gradient(to bottom, #afb6e4, #fff );
  overflow: hidden;
}

.sticky-wrapper {
  position: relative;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.scroll-bar-wrapper {
  position: absolute;
  top: 0;
  height: 15px;
  width: 100%;
  background: transparent;
}

.scroll-progress-bar {
  width: 0%;
  height: 100%;
  background-color: var(--akzentfarbe02);
  transition: width 0.1s linear;
}

.projects h2{
  padding: 0 20px;
  margin: 10%  0;
}

/* Projekte-Liste Mobile */
.projects-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
  transition: transform 0.2s ease-out;
  
}

/* Projekt Items Mobile */
.project-item {
  flex: 0 0 auto;
  width: 100%;
  padding: 1rem;
  border-radius: 50%;
  box-sizing: border-box;
}

.project-item img {
  width: 100%; /* passt sich der Containerbreite an */
  height: auto;
  margin-bottom: 1rem;
}

/* Tablet/Desktop Fullscreen Slider */
@media (min-width: 760px) {
  .projects-list {
    display: flex;
    flex-direction: row;
    width: max-content;   /* erlaubt horizontales Scrollen */
 scroll-behavior: smooth;
  }

  .project-item {
    flex: 0 0 100vw;      /* jedes Item fullscreen */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .project-item img {
    width: 50%;
    margin-right: 2rem;
  }

  .project-content {
    width: 50%;
  }
}


/*==========================
Desktop Fixes
==========================*/
@media (min-width: 1280px) {
  .project-item {
    flex: 0 0 1200px;
    gap: 3rem;
    margin-right: 15%;
  }
}

/*==========================
Philosophie
========================== */




/*==========================
Über Mich
========================== */