

.text-container p {
    flex: 1 1 300px;
    margin: 0;
    font-size: var(--schriftgröße-mittel);
    line-height: 1.5;
}

.container-wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Projekte Section */

.projects {
   min-height: 700px; /* Feste Höhe für die Projekt-Boxen */
  padding: 2rem 1rem;
  background-color: #f8f8f8;
  overflow-x: auto; /* Ermöglicht horizontales Scrollen */
  scroll-snap-type: x mandatory; /* Optional: sanftes Einrasten beim Scrollen */
}

.projects-list {
  display: flex;                /* horizontale Reihenanordnung */
  flex-direction: column;
  gap: 2rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.projects ul {
    gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.project-item{
  flex: 0 0 auto; /* Verhindert, dass Boxen schrumpfen */
  width: 100%;
  background-color: white;
  padding: 1rem;
  scroll-snap-align: start; /* Für das sanfte Einrasten */
    box-sizing: border-box;

}

.projects img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

.projects h3 {
  margin: 0 0 0.5rem 0;
}

