.text-container p {
  flex: 1 1 300px;
  margin: 0;
  font-size: var(--schriftgröße-mittel);
  line-height: 1.5;
}

.container-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

section{
  height: 700px;
  padding-top: 100px;
}

/*==========================
Hero
========================== */



.color-hover span {
  transition: color 0.4s ease;
  cursor: pointer;
}

/* unterschiedliche Farben pro Wort */
.color-hover span:nth-child(1):hover {
  color: var(--akzentfarbe01); /* z. B. Rosa */
}

.color-hover span:nth-child(2):hover {
  color: var(--hauptfarbe03); /* z. B. Grün */
}


/*==========================
Projekte
========================== */

.projects {
  min-height: 700px;
  /* Feste Höhe für die Projekt-Boxen */
  padding: 2rem 1rem;
  background-color: #f8f8f8;
  overflow-x: auto;
  /* Ermöglicht horizontales Scrollen */
  scroll-snap-type: x mandatory;
  /* Optional: sanftes Einrasten beim Scrollen */

  .projects-list {
    display: flex;
    flex-direction: column;
    /* Mobile: untereinander */
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  ul {
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .project-item {
    flex: 0 0 auto;
    /* Verhindert, dass Boxen schrumpfen */
    width: 100%;
    background-color: white;
    padding: 1rem;
    scroll-snap-align: start;
    /* Für das sanfte Einrasten */
    box-sizing: border-box;
  }

  img {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  h3 {
    margin: 0 0 0.5rem 0;
  }

  /* Tablet (760px – 1279px) */
  @media (min-width: 760px) {
    .projects-list {
      flex-direction: row;
      /* Nebeneinander */
      width: 100%;
      overflow: auto;
    }

    .project-item {
      width: 50%;
    }
  }

  /* Desktop (ab 1280px) */
  @media (min-width: 1280px) {

    .project-item {
      display: flex;
      flex-direction: row;
      gap: 3rem;
      width: 1200px;
      margin: 0 15% 0 0;
    }

    img {
      width: 50%;
      margin-bottom: 0;
    }

    .project-content {
      width: 50%;
    }

  }

}

/*horizontaler Scrollbalken*/

#projects {
  position: relative;
  overflow-x: hidden; /* nativen Scrollbalken ausblenden */
}

.projects-list {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-x: auto; /* Scrollen möglich, aber Balken nicht sichtbar */
  scrollbar-width: none; /* Firefox */
}
.projects-list::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}

/* Fortschrittsbalken */
.scroll-progress-bar {
  position: sticky;
  top: 0;
  left: 0;
  height: 25px;
  width: 0;
  background-color: var(--akzentfarbe01);
  transition: width 0.1s linear;
  z-index: 1000;
}


/*==========================
Philosophie
========================== */




/*==========================
Über Mich
========================== */