<header>
  <a href="index.html" class="logo">
    <img
      src="img/logo.png"
      alt="Initialien Logo CD"
      height="70px"
    />
  </a>

  <!-- Desktop Navigation -->
  <nav class="navigation-header">
    <ul class="navigation-list-header">
      <li class="navigation-list-element"><a href="index.html">Home</a></li>
      <li class="navigation-list-element"><a href="ubermich.html">Über mich</a></li>
      <li class="navigation-list-element"><a href="projekte.html">Projekte</a></li>
      <li class="navigation-list-element"><a href="philosophie.html">Philosophie</a></li>
      <li class="navigation-list-element"><a href="contact.html">Kontakt</a></li>
    </ul>
  </nav>
</header>