<a class="logo">
  <img src="img/Chiara_Logo2.png" alt="Initialien Logo CD" height="70px" />
</a>

<div class="container-wrapper">

  <!-- Hamburger für Mobile -->
  <div class="hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Desktop Navigation -->
  <nav class="navigation-header">
    <ul class="navigation-list-header">
      <li class="navigation-list-element"><a href="#start">Start</a></li>
      <li class="navigation-list-element"><a href="#projects">Projekte</a></li>
      <li class="navigation-list-element"><a href="#philosophy">Philosophie</a></li>
      <li class="navigation-list-element"><a href="#about">Über mich</a></li>
      <li class="navigation-list-element"><a href="#contact">Kontakt</a></li>
    </ul>
  </nav>

</div>